
*.exe
*.xml
*.iml
.idea/.name
PrimalityTest/cmake-build-debug/CMakeFiles/clion-log.txt
Szakdolgozat.pdf
VTothDissz.pdf
PrimalityTest/main.cpp
RC4/main.cpp
LegendreSymbol/main.cpp
Documentation/pics/elte_cimer_szines.jpg
Documentation/thesis-doc.aux
Documentation/thesis-doc.synctex.gz
Documentation/thesis-doc.log
*.o
GeneralPRNG/main.cpp
