
*.exe
*.xml
*.iml
.idea/.name
PrimalityTest/cmake-build-debug/CMakeFiles/clion-log.txt
Szakdolgozat.pdf
VTothDissz.pdf
PrimalityTest/main.cpp
RC4/main.cpp
LegendreSymbol/main.cpp
Documentation/pics/elte_cimer_szines.jpg
Documentation/thesis-doc.aux
Documentation/thesis-doc.synctex.gz
Documentation/thesis-doc.log
*.o
GeneralPRNG/main.cpp
AdditiveConstruction/main.cpp
AdditiveConstruction/main.cpp
*.user
build-project-Clone_of_Desktop_Qt_5_12_1_MinGW_64_bit-Debug/
QT App/project.pro.user
RFC 7539 - ChaCha20 and Poly1305 for IETF Protocols.htm
ChaCha20/main.cpp
QT App/project.pro.user
